################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DutchTreat/obj
/DutchTreat/bin/Debug/net5.0
